<div class="mainheader">
    <div class="col-md-6 offset-md-3"> 
            <a class="nav-link btn btn-primary d-inline-block" [routerLink]="[isEdit ? '' : 'edit']">
                        {{ isEdit ? 'Posts' : 'Compose' }}
            </a>
            <a *ngIf="isLogin" class="nav-link btn btn-secondary d-inline-block float-right text-light" (click)="logout()">Log Out</a>
            <a *ngIf="!isLogin" class="nav-link btn btn-secondary d-inline-block float-right " [routerLink]="['/auth']">
                        Sign Up 
            </a>
    </div>
</div>

<router-outlet></router-outlet>