<div class="">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            

            <div class="card bg-faded" *ngFor="let c of articles">
                <div class="card-header"><strong>{{c.user_name}}</strong> said <div class="d-inline-block float-right">{{c.created_at}}</div></div>        
                <div class="card-body">
                    {{c.content}}
                </div>
                <div class="card-footer" *ngIf="c.uriArr.length != 0">
                    <ul class="imgList" >
                        <li *ngFor="let uri of c.uriArr"><img [src]="getBackground(uri)" alt="..." class="img-thumbnail"></li></ul>
                </div>
                <div class="card-footer real-footer">
                    <fa-icon [icon]="faThumbsUp"></fa-icon>&nbsp;&nbsp;<span>0</span>&nbsp;&nbsp;|&nbsp;&nbsp;<fa-icon [icon]="faThumbsDown"></fa-icon>&nbsp;&nbsp;<span>0</span>
                </div>
            </div>
            
        </div>
    </div>
    
</div>