<div class="container">
    <div class="col-md-6 offset-md-3">
        <div class="card bg-faded">
            <div class="card-header"><strong>Anonynous</strong> said <span class="text-right">5:00:00 Mar 4, 2018</span></div>        
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.
            </div>
            <div class="card-footer">
                <i class="far fa-thumbs-up"></i>&nbsp;&nbsp;<span>0</span>&nbsp;&nbsp;|&nbsp;&nbsp;<i class="far fa-thumbs-down"></i>&nbsp;&nbsp;<span>0</span>
            </div>
        </div>
        
    </div>
</div>