
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card bg-faded">
                <div class="card-header">Add some photos you wanna share!</div>        
                <div class="card-body">
                    <label for="exampleFormControlTextarea1">Contents (&lt;200)</label>
                    <textarea #content class="form-control" id="textarea1" rows="4"></textarea>
                </div>
                <div class="card-footer">
                    <ul class="imgList">

                        <li *ngFor="let url of urlArr" (click)="deleteFile(url)"><img [src]="getBackground(url)" alt="..." class="img-thumbnail"></li>

                        <a id="upload" class="nav-link btn btn-primary d-inline-block" (click)="addFile()">Choose</a>
                    </ul>
                    <input type="file" #file style="display: none;" (change)="checkUploadFile()" />

                </div>
            </div>
            
            <a id="send" class="nav-link btn btn-primary d-block" (click)="createArticle()">Send</a>
        </div>
    </div>
